openapi: 3.1.0
info:
  title: Weights API
  description: www.weights.com OpenAPI schema
  version: 1.0.0
servers:
  - url: https://www.weights.com/api/external
externalDocs:
  url: https://docs.weights.com
paths:
  /images/create:
    post:
      operationId: external-createImage
      summary: Create an image
      description: Creates a new image generation job using the provided prompt. The job will be queued for processing.
      tags:
        - Flux.Dev Images
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  description: Text description of the image to generate
                  example: A beautiful sunset over mountains with a lake in the foreground
                  type: string
                  minLength: 1
                  maxLength: 1000
                loraIds:
                  description: Lora IDs to apply to the image generation - up to 3 Lora models can be applied
                  example: cmcz8do7y00fw0dnd3t7906sy
                  default: []
                  minItems: 0
                  maxItems: 3
                  type: array
                  items:
                    type: string
                numImages:
                  description: Number of images to generate (1-4)
                  example: 1
                  default: 1
                  type: number
                  minimum: 1
                  maximum: 4
                dimensions:
                  description: Aspect ratio of the generated image
                  examples:
                    - SQUARE
                  default: SQUARE
                  type: string
                  enum:
                    - SQUARE
                    - PORTRAIT
                    - LANDSCAPE
              required:
                - prompt
      responses:
        '200':
          description: Returns the ID of the created image generation job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Unique identifier for the visual creation job
                    example: visual_123456789
                    type: string
                  status:
                    description: Current status of the visual creation job
                    example: SUCCEEDED
                    type: string
                    enum:
                      - QUEUED
                      - PENDING_WORKER
                      - PROCESSING
                      - ERRORED
                      - SUCCEEDED
                      - CANCELED
                  prompt:
                    description: Text prompt used for the visual creation
                    example: A beautiful sunset over mountains
                    type: string
                  type:
                    description: Type of visual creation job
                    example: IMAGE_GENERATION
                    type: string
                    enum:
                      - IMAGE
                      - VIDEO
                      - EDIT
                      - REMIX
                      - INPAINT
                      - UPSCALE
                  numImages:
                    description: Number of images generated
                    example: 1
                    type: number
                  dimensions:
                    description: Dimensions of the generated images
                    example: SQUARE
                    type: string
                    enum:
                      - SQUARE
                      - PORTRAIT
                      - LANDSCAPE
                  createdAt:
                    description: Timestamp when the job was created
                    example: '2024-01-15T10:30:00Z'
                    type: string
                  updatedAt:
                    description: Timestamp when the job was last updated
                    example: '2024-01-15T10:35:00Z'
                    type: string
                  outputUrls:
                    description: Array of URLs to the generated images
                    example:
                      - https://storage.example.com/images/generated_1.jpg
                    type: array
                    items:
                      type: string
                  lora:
                    description: Primary LoRA model used for generation
                    example: null
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: Unique identifier for the primary LoRA model
                            example: lora_123456789
                            type: string
                          name:
                            description: Name of the primary LoRA model
                            example: My Custom Style
                            type: string
                        required:
                          - id
                          - name
                        additionalProperties: false
                      - type: 'null'
                  secondaryLora:
                    description: Secondary LoRA model used for generation
                    example: null
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: Unique identifier for the secondary LoRA model
                            example: lora_987654321
                            type: string
                          name:
                            description: Name of the secondary LoRA model
                            example: Another Style
                            type: string
                        required:
                          - id
                          - name
                        additionalProperties: false
                      - type: 'null'
                required:
                  - id
                  - status
                  - prompt
                  - type
                  - numImages
                  - dimensions
                  - createdAt
                  - updatedAt
                  - outputUrls
                  - lora
                  - secondaryLora
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const image = await client.images.create({
            prompt: 'A beautiful sunset over mountains with a lake in the foreground',
          });

          console.log(image.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const image = await client.images.create({
                prompt: 'A beautiful sunset over mountains with a lake in the foreground',
              });

              console.log(image.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const image = await client.images.create({
              prompt: 'A beautiful sunset over mountains with a lake in the foreground',
            });

            console.log(image.id);
  /images/{id}:
    get:
      operationId: external-getVisualCreationJob
      summary: Get image job status
      description: Retrieves the status and results of a specific visual creation job by its ID.
      tags:
        - Flux.Dev Images
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the status and results of a visual creation job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Unique identifier for the visual creation job
                    example: visual_123456789
                    type: string
                  status:
                    description: Current status of the visual creation job
                    example: SUCCEEDED
                    type: string
                    enum:
                      - QUEUED
                      - PENDING_WORKER
                      - PROCESSING
                      - ERRORED
                      - SUCCEEDED
                      - CANCELED
                  prompt:
                    description: Text prompt used for the visual creation
                    example: A beautiful sunset over mountains
                    type: string
                  type:
                    description: Type of visual creation job
                    example: IMAGE_GENERATION
                    type: string
                    enum:
                      - IMAGE
                      - VIDEO
                      - EDIT
                      - REMIX
                      - INPAINT
                      - UPSCALE
                  numImages:
                    description: Number of images generated
                    example: 1
                    type: number
                  dimensions:
                    description: Dimensions of the generated images
                    example: SQUARE
                    type: string
                    enum:
                      - SQUARE
                      - PORTRAIT
                      - LANDSCAPE
                  createdAt:
                    description: Timestamp when the job was created
                    example: '2024-01-15T10:30:00Z'
                    type: string
                  updatedAt:
                    description: Timestamp when the job was last updated
                    example: '2024-01-15T10:35:00Z'
                    type: string
                  outputUrls:
                    description: Array of URLs to the generated images
                    example:
                      - https://storage.example.com/images/generated_1.jpg
                    type: array
                    items:
                      type: string
                  lora:
                    description: Primary LoRA model used for generation
                    example: null
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: Unique identifier for the primary LoRA model
                            example: lora_123456789
                            type: string
                          name:
                            description: Name of the primary LoRA model
                            example: My Custom Style
                            type: string
                        required:
                          - id
                          - name
                        additionalProperties: false
                      - type: 'null'
                  secondaryLora:
                    description: Secondary LoRA model used for generation
                    example: null
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: Unique identifier for the secondary LoRA model
                            example: lora_987654321
                            type: string
                          name:
                            description: Name of the secondary LoRA model
                            example: Another Style
                            type: string
                        required:
                          - id
                          - name
                        additionalProperties: false
                      - type: 'null'
                required:
                  - id
                  - status
                  - prompt
                  - type
                  - numImages
                  - dimensions
                  - createdAt
                  - updatedAt
                  - outputUrls
                  - lora
                  - secondaryLora
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const image = await client.images.retrieve('id');

          console.log(image.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const image = await client.images.retrieve('id');

              console.log(image.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const image = await client.images.retrieve('id');

            console.log(image.id);
  /videos/create:
    post:
      operationId: external-createVideo
      summary: Create a video
      description: Creates a new video generation job using the provided prompt. The job will be queued for processing.
      tags:
        - Video Generation
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  description: Text description of the video to generate
                  example: A flowing river with leaves floating downstream
                  type: string
                  minLength: 1
                  maxLength: 1000
                inputImageUrl:
                  description: URL to the input image to animate into a video
                  example: https://storage.example.com/input/river.jpg
                  type: string
                  format: uri
              required:
                - prompt
                - inputImageUrl
      responses:
        '200':
          description: Returns the ID of the created video generation job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const video = await client.videos.create({
            inputImageUrl: 'https://storage.example.com/input/river.jpg',
            prompt: 'A flowing river with leaves floating downstream',
          });

          console.log(video.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const video = await client.videos.create({
                inputImageUrl: 'https://storage.example.com/input/river.jpg',
                prompt: 'A flowing river with leaves floating downstream',
              });

              console.log(video.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const video = await client.videos.create({
              inputImageUrl: 'https://storage.example.com/input/river.jpg',
              prompt: 'A flowing river with leaves floating downstream',
            });

            console.log(video.id);
  /images:
    get:
      operationId: external-getVisualCreationJobs
      summary: List visual creation jobs
      description: >-
        Retrieves a paginated list of visual creation jobs for the authenticated user, sorted by creation date
        in descending order.
      tags:
        - Flux.Dev Images
      security:
        - Authorization: []
      parameters:
        - in: query
          name: limit
          schema:
            default: 25
            description: Number of items to return per page
            example: 25
            type: number
            minimum: 1
            maximum: 50
        - in: query
          name: cursor
          schema:
            anyOf:
              - description: >-
                  Cursor for pagination to get the next page of results - this is the last item's ID from the
                  previous page
                example: cmcz89fci00zr0dlt68klunpf
                type: string
              - type: 'null'
      responses:
        '200':
          description: Returns a paginated list of visual creation jobs for the authenticated user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                          enum:
                            - QUEUED
                            - PENDING_WORKER
                            - PROCESSING
                            - ERRORED
                            - SUCCEEDED
                            - CANCELED
                        prompt:
                          type: string
                        type:
                          type: string
                          enum:
                            - IMAGE
                            - VIDEO
                            - EDIT
                            - REMIX
                            - INPAINT
                            - UPSCALE
                        numImages:
                          type: number
                        dimensions:
                          type: string
                          enum:
                            - SQUARE
                            - PORTRAIT
                            - LANDSCAPE
                        createdAt:
                          type: string
                        updatedAt:
                          type: string
                        outputUrls:
                          type: array
                          items:
                            type: string
                        queuePosition:
                          anyOf:
                            - type: number
                            - type: 'null'
                      required:
                        - id
                        - status
                        - prompt
                        - type
                        - numImages
                        - dimensions
                        - createdAt
                        - updatedAt
                      additionalProperties: false
                required:
                  - jobs
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const images = await client.images.list();

          console.log(images.jobs);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const images = await client.images.list();

              console.log(images.jobs);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const images = await client.images.list();

            console.log(images.jobs);
  /image-lora-models/create:
    post:
      operationId: external-createImageLoraModel
      summary: Create an image LoRA model
      description: >-
        Creates a new image LoRA model training job. Requires 5-30 images with their URLs. The images should
        already be uploaded to a web-accessible location. The training job will be queued for processing.
      tags:
        - Flux.Dev Loras
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name of the LoRA model
                  example: My Custom Style
                  type: string
                  minLength: 1
                  maxLength: 100
                images:
                  description: Array of training images (5-30 images required)
                  example: []
                  minItems: 5
                  maxItems: 30
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        description: URL to the training image
                        example: https://example.com/image1.jpg
                        type: string
                        format: uri
                      description:
                        description: Description of the training image
                        example: Portrait with specific lighting
                        type: string
                    required:
                      - url
                triggerWord:
                  description: Trigger word to activate the LoRA model
                  example: my_style
                  type: string
              required:
                - name
                - images
      responses:
        '200':
          description: Returns the ID of the created image LoRA training job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  trainingJobId:
                    type: string
                required:
                  - id
                  - trainingJobId
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const imageLoraModel = await client.imageLoraModels.create({
            images: [
              { url: 'https://example.com/image1.jpg' },
              { url: 'https://example.com/image1.jpg' },
              { url: 'https://example.com/image1.jpg' },
              { url: 'https://example.com/image1.jpg' },
              { url: 'https://example.com/image1.jpg' },
            ],
            name: 'My Custom Style',
          });

          console.log(imageLoraModel.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const imageLoraModel = await client.imageLoraModels.create({
                images: [
                  { url: 'https://example.com/image1.jpg' },
                  { url: 'https://example.com/image1.jpg' },
                  { url: 'https://example.com/image1.jpg' },
                  { url: 'https://example.com/image1.jpg' },
                  { url: 'https://example.com/image1.jpg' },
                ],
                name: 'My Custom Style',
              });

              console.log(imageLoraModel.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const imageLoraModel = await client.imageLoraModels.create({
              images: [
                { url: 'https://example.com/image1.jpg' },
                { url: 'https://example.com/image1.jpg' },
                { url: 'https://example.com/image1.jpg' },
                { url: 'https://example.com/image1.jpg' },
                { url: 'https://example.com/image1.jpg' },
              ],
              name: 'My Custom Style',
            });

            console.log(imageLoraModel.id);
  /image-lora-models/{id}:
    get:
      operationId: external-getImageLoraModelById
      summary: Get an image LoRA model by ID
      description: >-
        Retrieves the details of a specific image LoRA model by its ID. Returns null if the model is not found
        or doesn't belong to the authenticated user (unless it's public).
      tags:
        - Flux.Dev Loras
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the details of the specified image LoRA model.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      id:
                        description: Unique identifier for the LoRA model
                        example: lora_123456789
                        type: string
                      name:
                        description: Name of the LoRA model
                        example: My Custom Style
                        type: string
                      description:
                        description: Description of the LoRA model
                        example: A custom style trained on my artwork
                        anyOf:
                          - type: string
                          - type: 'null'
                      triggers:
                        description: Array of trigger words for the LoRA model
                        example:
                          - my_style
                          - custom_art
                        type: array
                        items:
                          type: string
                      image:
                        description: URL to the preview image of the LoRA model
                        example: https://storage.example.com/lora_preview.jpg
                        anyOf:
                          - type: string
                          - type: 'null'
                      blurDataUrl:
                        description: Blurred data URL for the preview image
                        example: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQ...
                        anyOf:
                          - type: string
                          - type: 'null'
                      isNSFW:
                        description: Whether the model contains NSFW content
                        example: false
                        type: boolean
                      isDeleted:
                        description: Whether the model has been deleted
                        example: false
                        type: boolean
                      createdAt:
                        description: Timestamp when the LoRA model was created
                        example: '2024-01-15T10:30:00Z'
                        type: string
                      userId:
                        description: ID of the user who created the LoRA model
                        example: user_123456789
                        type: string
                      trainingJob:
                        description: Information about the most recent training job
                        example: null
                        anyOf:
                          - type: object
                            properties:
                              id:
                                description: Unique identifier for the training job
                                example: training_123456789
                                type: string
                              status:
                                description: Current status of the training job
                                example: SUCCEEDED
                                type: string
                                enum:
                                  - QUEUED
                                  - PENDING_WORKER
                                  - PROCESSING
                                  - ERRORED
                                  - SUCCEEDED
                                  - CANCELED
                              createdAt:
                                description: Timestamp when the training job was created
                                example: '2024-01-15T10:30:00Z'
                                type: string
                              shortStatusText:
                                description: Brief description of the current training status
                                example: Training completed successfully
                                anyOf:
                                  - type: string
                                  - type: 'null'
                              initialQueuePosition:
                                description: Initial position in the training queue
                                example: 10
                                anyOf:
                                  - type: number
                                  - type: 'null'
                            required:
                              - id
                              - status
                              - createdAt
                              - initialQueuePosition
                            additionalProperties: false
                          - type: 'null'
                    required:
                      - id
                      - name
                      - triggers
                      - isNSFW
                      - isDeleted
                      - createdAt
                      - userId
                    additionalProperties: false
                  - type: 'null'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const imageLoraModel = await client.imageLoraModels.retrieve('id');

          console.log(imageLoraModel.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const imageLoraModel = await client.imageLoraModels.retrieve('id');

              console.log(imageLoraModel.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const imageLoraModel = await client.imageLoraModels.retrieve('id');

            console.log(imageLoraModel.id);
  /image-lora-models/{id}/status:
    get:
      operationId: external-getImageLoraModelStatus
      summary: Get the training status of an image LoRA model
      description: >-
        Retrieves the current training status of a specific image LoRA model. Useful for polling the status of
        a training job. Returns null if the model is not found or doesn't belong to the authenticated user.
      tags:
        - Flux.Dev Loras
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the training status of the specified image LoRA model.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum:
                          - QUEUED
                          - PENDING_WORKER
                          - PROCESSING
                          - ERRORED
                          - SUCCEEDED
                          - CANCELED
                      shortStatusText:
                        anyOf:
                          - type: string
                          - type: 'null'
                      queuePosition:
                        anyOf:
                          - type: number
                          - type: 'null'
                      createdAt:
                        type: string
                    required:
                      - id
                      - status
                      - shortStatusText
                      - queuePosition
                      - createdAt
                    additionalProperties: false
                  - type: 'null'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const response = await client.imageLoraModels.retrieveStatus('id');

          console.log(response.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const response = await client.imageLoraModels.retrieveStatus('id');

              console.log(response.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const response = await client.imageLoraModels.retrieveStatus('id');

            console.log(response.id);
  /image-lora-models:
    get:
      operationId: external-getImageLoraModels
      summary: List image LoRA models
      description: >-
        Retrieves a paginated list of image LoRA models created by the authenticated user, sorted by creation
        date in descending order. Optionally filter results by name search.
      tags:
        - Flux.Dev Loras
      security:
        - Authorization: []
      parameters:
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: limit
          schema:
            default: 25
            description: Number of items to return per page
            example: 25
            type: number
            minimum: 1
            maximum: 50
        - in: query
          name: cursor
          schema:
            anyOf:
              - description: >-
                  Cursor for pagination to get the next page of results - this is the last item's ID from the
                  previous page
                example: cmcz89fci00zr0dlt68klunpf
                type: string
              - type: 'null'
      responses:
        '200':
          description: Returns a paginated list of image LoRA models for the authenticated user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  models:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Unique identifier for the LoRA model
                          example: lora_123456789
                          type: string
                        name:
                          description: Name of the LoRA model
                          example: My Custom Style
                          type: string
                        description:
                          description: Description of the LoRA model
                          example: A custom style trained on my artwork
                          anyOf:
                            - type: string
                            - type: 'null'
                        triggers:
                          description: Array of trigger words for the LoRA model
                          example:
                            - my_style
                            - custom_art
                          type: array
                          items:
                            type: string
                        image:
                          description: URL to the preview image of the LoRA model
                          example: https://storage.example.com/lora_preview.jpg
                          anyOf:
                            - type: string
                            - type: 'null'
                        blurDataUrl:
                          description: Blurred data URL for the preview image
                          example: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQ...
                          anyOf:
                            - type: string
                            - type: 'null'
                        isNSFW:
                          description: Whether the model contains NSFW content
                          example: false
                          type: boolean
                        isDeleted:
                          description: Whether the model has been deleted
                          example: false
                          type: boolean
                        createdAt:
                          description: Timestamp when the LoRA model was created
                          example: '2024-01-15T10:30:00Z'
                          type: string
                        userId:
                          description: ID of the user who created the LoRA model
                          example: user_123456789
                          type: string
                        trainingJob:
                          description: Information about the most recent training job
                          example: null
                          anyOf:
                            - type: object
                              properties:
                                id:
                                  description: Unique identifier for the training job
                                  example: training_123456789
                                  type: string
                                status:
                                  description: Current status of the training job
                                  example: SUCCEEDED
                                  type: string
                                  enum:
                                    - QUEUED
                                    - PENDING_WORKER
                                    - PROCESSING
                                    - ERRORED
                                    - SUCCEEDED
                                    - CANCELED
                                createdAt:
                                  description: Timestamp when the training job was created
                                  example: '2024-01-15T10:30:00Z'
                                  type: string
                                shortStatusText:
                                  description: Brief description of the current training status
                                  example: Training completed successfully
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                                initialQueuePosition:
                                  description: Initial position in the training queue
                                  example: 10
                                  anyOf:
                                    - type: number
                                    - type: 'null'
                              required:
                                - id
                                - status
                                - createdAt
                                - initialQueuePosition
                              additionalProperties: false
                            - type: 'null'
                      required:
                        - id
                        - name
                        - triggers
                        - isNSFW
                        - isDeleted
                        - createdAt
                        - userId
                      additionalProperties: false
                required:
                  - models
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const imageLoraModels = await client.imageLoraModels.list();

          console.log(imageLoraModels.models);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const imageLoraModels = await client.imageLoraModels.list();

              console.log(imageLoraModels.models);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const imageLoraModels = await client.imageLoraModels.list();

            console.log(imageLoraModels.models);
  /image-lora-models/search:
    get:
      operationId: external-searchImageLoraModels
      summary: Search public image LoRA models
      description: >-
        Searches through all public image LoRA models in the database. Results are sorted by creation date.
        This endpoint does not require authentication.
      tags:
        - Flux.Dev Loras
      security:
        - Authorization: []
      parameters:
        - in: query
          name: search
          schema:
            type: string
            minLength: 1
            maxLength: 100
          required: true
        - in: query
          name: limit
          schema:
            default: 25
            description: Number of items to return per page
            example: 25
            type: number
            minimum: 1
            maximum: 50
        - in: query
          name: cursor
          schema:
            anyOf:
              - description: >-
                  Cursor for pagination to get the next page of results - this is the last item's ID from the
                  previous page
                example: cmcz89fci00zr0dlt68klunpf
                type: string
              - type: 'null'
      responses:
        '200':
          description: Returns a paginated list of public image LoRA models matching the search criteria.
          content:
            application/json:
              schema:
                type: object
                properties:
                  models:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Unique identifier for the LoRA model
                          example: lora_123456789
                          type: string
                        name:
                          description: Name of the LoRA model
                          example: My Custom Style
                          type: string
                        description:
                          description: Description of the LoRA model
                          example: A custom style trained on my artwork
                          anyOf:
                            - type: string
                            - type: 'null'
                        triggers:
                          description: Array of trigger words for the LoRA model
                          example:
                            - my_style
                            - custom_art
                          type: array
                          items:
                            type: string
                        image:
                          description: URL to the preview image of the LoRA model
                          example: https://storage.example.com/lora_preview.jpg
                          anyOf:
                            - type: string
                            - type: 'null'
                        blurDataUrl:
                          description: Blurred data URL for the preview image
                          example: data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQ...
                          anyOf:
                            - type: string
                            - type: 'null'
                        isNSFW:
                          description: Whether the model contains NSFW content
                          example: false
                          type: boolean
                        isDeleted:
                          description: Whether the model has been deleted
                          example: false
                          type: boolean
                        createdAt:
                          description: Timestamp when the LoRA model was created
                          example: '2024-01-15T10:30:00Z'
                          type: string
                        userId:
                          description: ID of the user who created the LoRA model
                          example: user_123456789
                          type: string
                        trainingJob:
                          description: Information about the most recent training job
                          example: null
                          anyOf:
                            - type: object
                              properties:
                                id:
                                  description: Unique identifier for the training job
                                  example: training_123456789
                                  type: string
                                status:
                                  description: Current status of the training job
                                  example: SUCCEEDED
                                  type: string
                                  enum:
                                    - QUEUED
                                    - PENDING_WORKER
                                    - PROCESSING
                                    - ERRORED
                                    - SUCCEEDED
                                    - CANCELED
                                createdAt:
                                  description: Timestamp when the training job was created
                                  example: '2024-01-15T10:30:00Z'
                                  type: string
                                shortStatusText:
                                  description: Brief description of the current training status
                                  example: Training completed successfully
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                                initialQueuePosition:
                                  description: Initial position in the training queue
                                  example: 10
                                  anyOf:
                                    - type: number
                                    - type: 'null'
                              required:
                                - id
                                - status
                                - createdAt
                                - initialQueuePosition
                              additionalProperties: false
                            - type: 'null'
                      required:
                        - id
                        - name
                        - triggers
                        - isNSFW
                        - isDeleted
                        - createdAt
                        - userId
                      additionalProperties: false
                required:
                  - models
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const response = await client.imageLoraModels.search({ search: 'x' });

          console.log(response.models);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const response = await client.imageLoraModels.search({ search: 'x' });

              console.log(response.models);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const response = await client.imageLoraModels.search({ search: 'x' });

            console.log(response.models);
  /image-lora-models/{id}/download:
    get:
      operationId: external-getLoraModelDownloadUrl
      summary: Get download URL for a trained Image LoRA model
      description: >-
        Retrieves a signed download URL for a trained Image LoRA model. The model must belong to the
        authenticated user and must have been trained via the API. The URL expires in 5 minutes.
      tags:
        - Flux.Dev Loras
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns a signed download URL for the specified Image LoRA model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  downloadUrl:
                    anyOf:
                      - type: string
                      - type: 'null'
                required:
                  - downloadUrl
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const response = await client.imageLoraModels.retrieveDownloadURL('id');

          console.log(response.downloadUrl);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const response = await client.imageLoraModels.retrieveDownloadURL('id');

              console.log(response.downloadUrl);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const response = await client.imageLoraModels.retrieveDownloadURL('id');

            console.log(response.downloadUrl);
  /covers:
    get:
      operationId: external-getCovers
      summary: Retrieve all covers
      description: Retrieves a paginated list of AI cover jobs belonging to the currently authenticated user.
      tags:
        - RVCv2 Covers
      security:
        - Authorization: []
      parameters:
        - in: query
          name: limit
          schema:
            default: 25
            description: Number of items to return per page
            example: 25
            type: number
            minimum: 1
            maximum: 50
        - in: query
          name: cursor
          schema:
            anyOf:
              - description: >-
                  Cursor for pagination to get the next page of results - this is the last item's ID from the
                  previous page
                example: cmcz89fci00zr0dlt68klunpf
                type: string
              - type: 'null'
      responses:
        '200':
          description: Returns a paginated list of covers for the authenticated user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  covers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Unique identifier for the cover job
                          example: cover_123456789
                          type: string
                        createdAt:
                          description: Timestamp when the cover job was created
                          example: '2024-01-15T10:30:00Z'
                          type: string
                        outputUrl:
                          description: URL to the generated cover audio file
                          example: https://storage.example.com/covers/cover_123456789.mp3
                          anyOf:
                            - type: string
                            - type: 'null'
                        inputFileName:
                          description: Original filename of the input audio
                          example: original_song.wav
                          anyOf:
                            - type: string
                            - type: 'null'
                        status:
                          description: Current status of the cover generation job
                          example: SUCCEEDED
                          type: string
                          enum:
                            - QUEUED
                            - PENDING_WORKER
                            - PROCESSING
                            - ERRORED
                            - SUCCEEDED
                            - CANCELED
                        inputUrl:
                          description: URL to the input audio file
                          example: https://storage.example.com/input/original_song.wav
                          anyOf:
                            - type: string
                            - type: 'null'
                        ttsText:
                          description: Text-to-speech content if using TTS
                          example: Hello world, this is a test
                          anyOf:
                            - type: string
                            - type: 'null'
                        stemOnly:
                          description: Whether to process only the vocal stem
                          example: false
                          anyOf:
                            - type: boolean
                            - type: 'null'
                        preStemmed:
                          description: Whether the input audio is already stemmed
                          example: false
                          anyOf:
                            - type: boolean
                            - type: 'null'
                        pitch:
                          description: Pitch adjustment value for the voice
                          example: 0
                          anyOf:
                            - type: number
                            - type: 'null'
                        queuePosition:
                          description: Current position in the processing queue
                          example: 3
                          anyOf:
                            - type: number
                            - type: 'null'
                      required:
                        - id
                        - createdAt
                        - status
                      additionalProperties: false
                required:
                  - covers
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const covers = await client.covers.list();

          console.log(covers.covers);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const covers = await client.covers.list();

              console.log(covers.covers);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const covers = await client.covers.list();

            console.log(covers.covers);
  /covers/{id}:
    get:
      operationId: external-getCoverById
      summary: Get a cover by ID
      description: >-
        Retrieves the details of a specific AI cover job by its ID. Returns null if the cover is not found or
        doesn't belong to the authenticated user.
      tags:
        - RVCv2 Covers
      security:
        - Authorization: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Returns the details of the specified cover job.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      id:
                        description: Unique identifier for the cover job
                        example: cover_123456789
                        type: string
                      createdAt:
                        description: Timestamp when the cover job was created
                        example: '2024-01-15T10:30:00Z'
                        type: string
                      outputUrl:
                        description: URL to the generated cover audio file
                        example: https://storage.example.com/covers/cover_123456789.mp3
                        anyOf:
                          - type: string
                          - type: 'null'
                      inputFileName:
                        description: Original filename of the input audio
                        example: original_song.wav
                        anyOf:
                          - type: string
                          - type: 'null'
                      status:
                        description: Current status of the cover generation job
                        example: SUCCEEDED
                        type: string
                        enum:
                          - QUEUED
                          - PENDING_WORKER
                          - PROCESSING
                          - ERRORED
                          - SUCCEEDED
                          - CANCELED
                      inputUrl:
                        description: URL to the input audio file
                        example: https://storage.example.com/input/original_song.wav
                        anyOf:
                          - type: string
                          - type: 'null'
                      ttsText:
                        description: Text-to-speech content if using TTS
                        example: Hello world, this is a test
                        anyOf:
                          - type: string
                          - type: 'null'
                      stemOnly:
                        description: Whether to process only the vocal stem
                        example: false
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      preStemmed:
                        description: Whether the input audio is already stemmed
                        example: false
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      pitch:
                        description: Pitch adjustment value for the voice
                        example: 0
                        anyOf:
                          - type: number
                          - type: 'null'
                      queuePosition:
                        description: Current position in the processing queue
                        example: 3
                        anyOf:
                          - type: number
                          - type: 'null'
                    required:
                      - id
                      - createdAt
                      - status
                    additionalProperties: false
                  - type: 'null'
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.NOT_FOUND'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const cover = await client.covers.retrieve('id');

          console.log(cover.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const cover = await client.covers.retrieve('id');

              console.log(cover.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const cover = await client.covers.retrieve('id');

            console.log(cover.id);
  /covers/create:
    post:
      operationId: external-createCover
      summary: Create a cover
      description: >-
        Creates a new AI cover job for the authenticated user using the specified RVC model and audio file.
        The job is added to the queue for further processing.
      tags:
        - RVCv2 Covers
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rvcModelId:
                  description: ID of the RVC voice model to use for cloning
                  example: model_123456789
                  type: string
                inputUrl:
                  description: URL to the input audio file to be processed
                  example: https://storage.example.com/input/song.wav
                  type: string
                inputFileName:
                  description: Original filename of the input audio
                  example: my_song.wav
                  type: string
                pitch:
                  description: Pitch adjustment value for the voice (in semitones)
                  example: 0
                  default: 0
                  type: number
                preStemmed:
                  description: Whether the input audio is already separated into stems
                  example: false
                  default: false
                  type: boolean
                stemOnly:
                  description: Whether to process only the vocal stem
                  example: false
                  default: false
                  type: boolean
                instrumentalPitch:
                  description: Pitch adjustment for the instrumental track
                  example: 0
                  default: 0
                  type: number
                deEcho:
                  description: Whether to remove echo from the audio
                  example: false
                  default: false
                  type: boolean
                isolateMainVocals:
                  description: Whether to isolate only the main vocal track
                  example: false
                  default: false
                  type: boolean
                consonantProtection:
                  description: Consonant protection level (0-1)
                  example: 0.5
                  type: number
                volumeEnvelope:
                  description: Volume envelope adjustment value
                  example: 1
                  type: number
              required:
                - rvcModelId
                - inputUrl
      responses:
        '200':
          description: Returns the newly created cover job details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Unique identifier for the cover job
                    example: cover_123456789
                    type: string
                  createdAt:
                    description: Timestamp when the cover job was created
                    example: '2024-01-15T10:30:00Z'
                    type: string
                  outputUrl:
                    description: URL to the generated cover audio file
                    example: https://storage.example.com/covers/cover_123456789.mp3
                    anyOf:
                      - type: string
                      - type: 'null'
                  inputFileName:
                    description: Original filename of the input audio
                    example: original_song.wav
                    anyOf:
                      - type: string
                      - type: 'null'
                  status:
                    description: Current status of the cover generation job
                    example: SUCCEEDED
                    type: string
                    enum:
                      - QUEUED
                      - PENDING_WORKER
                      - PROCESSING
                      - ERRORED
                      - SUCCEEDED
                      - CANCELED
                  inputUrl:
                    description: URL to the input audio file
                    example: https://storage.example.com/input/original_song.wav
                    anyOf:
                      - type: string
                      - type: 'null'
                  ttsText:
                    description: Text-to-speech content if using TTS
                    example: Hello world, this is a test
                    anyOf:
                      - type: string
                      - type: 'null'
                  stemOnly:
                    description: Whether to process only the vocal stem
                    example: false
                    anyOf:
                      - type: boolean
                      - type: 'null'
                  preStemmed:
                    description: Whether the input audio is already stemmed
                    example: false
                    anyOf:
                      - type: boolean
                      - type: 'null'
                  pitch:
                    description: Pitch adjustment value for the voice
                    example: 0
                    anyOf:
                      - type: number
                      - type: 'null'
                  queuePosition:
                    description: Current position in the processing queue
                    example: 3
                    anyOf:
                      - type: number
                      - type: 'null'
                required:
                  - id
                  - createdAt
                  - status
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const cover = await client.covers.create({
            inputUrl: 'https://storage.example.com/input/song.wav',
            rvcModelId: 'model_123456789',
          });

          console.log(cover.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const cover = await client.covers.create({
                inputUrl: 'https://storage.example.com/input/song.wav',
                rvcModelId: 'model_123456789',
              });

              console.log(cover.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const cover = await client.covers.create({
              inputUrl: 'https://storage.example.com/input/song.wav',
              rvcModelId: 'model_123456789',
            });

            console.log(cover.id);
  /rvc-models/upload:
    post:
      operationId: external-uploadModel
      summary: Upload an RVC model from a url
      description: >-
        Uploads an existing RVC model to be used with Weights from the specified URL and creates a new model
        entry in the database. The user must be authenticated.
      tags:
        - RVCv2 Models
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  description: URL to the RVC model file
                  example: https://storage.example.com/models/voice_model.pth
                  type: string
                title:
                  description: Name for the voice model
                  example: John Doe Voice Model
                  type: string
                description:
                  description: Description of the voice model
                  example: A voice model trained on John Doe's voice recordings
                  type: string
              required:
                - url
                - title
                - description
      responses:
        '200':
          description: Returns the details of the newly created RVC model.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Unique identifier for the RVC model
                    example: model_123456789
                    type: string
                  title:
                    description: Name of the RVC voice model
                    example: John Doe Voice Model
                    type: string
                  createdAt:
                    description: Timestamp when the model was created
                    example: '2024-01-15T10:30:00Z'
                    type: string
                required:
                  - id
                  - title
                  - createdAt
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const response = await client.rvcModels.upload({
            description: "A voice model trained on John Doe's voice recordings",
            title: 'John Doe Voice Model',
            url: 'https://storage.example.com/models/voice_model.pth',
          });

          console.log(response.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const response = await client.rvcModels.upload({
                description: "A voice model trained on John Doe's voice recordings",
                title: 'John Doe Voice Model',
                url: 'https://storage.example.com/models/voice_model.pth',
              });

              console.log(response.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const response = await client.rvcModels.upload({
              description: "A voice model trained on John Doe's voice recordings",
              title: 'John Doe Voice Model',
              url: 'https://storage.example.com/models/voice_model.pth',
            });

            console.log(response.id);
  /rvc-models/training/create:
    post:
      operationId: external-createTrainingJob
      summary: Create an RVC model training job
      description: >-
        Creates a new RVC model training job using the provided audio files. The audio files should already be
        uploaded to a web-accessible location. The training job will be queued for processing.
      tags:
        - RVCv2 Models
      security:
        - Authorization: []
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  description: Name for the RVC voice model
                  example: John Doe Voice Model
                  type: string
                  minLength: 1
                  maxLength: 100
                description:
                  description: Description of the voice model
                  example: A voice model trained on John Doe's voice recordings
                  type: string
                audioFiles:
                  description: Array of training audio files (1-50 files required)
                  example: []
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        description: URL to the training audio file
                        example: https://storage.example.com/training/voice_sample1.wav
                        type: string
                        format: uri
                      isPreStemmed:
                        description: Whether the audio file is already separated into stems
                        example: false
                        default: false
                        type: boolean
                    required:
                      - url
                isolateMainVocals:
                  description: >-
                    Whether to run the UVR-MDX-NET Karaoke stemming processing on the audio to isolate the
                    main vocals
                  example: false
                  default: false
                  type: boolean
                deEchoDeReverb:
                  description: Whether to remove echo and reverb from the audio
                  example: false
                  default: false
                  type: boolean
              required:
                - name
                - audioFiles
      responses:
        '200':
          description: Returns the details of the created RVC model training job.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Unique identifier for the RVC training job
                    example: training_123456789
                    type: string
                  name:
                    description: Name of the RVC voice model being trained
                    example: John Doe Voice Model
                    type: string
                  description:
                    description: Description of the voice model
                    example: A voice model trained on John Doe's voice recordings
                    anyOf:
                      - type: string
                      - type: 'null'
                  image:
                    description: URL to the model preview image
                    example: https://storage.example.com/model_preview.jpg
                    anyOf:
                      - type: string
                      - type: 'null'
                  status:
                    description: Current status of the training job
                    example: PROCESSING
                    anyOf:
                      - type: string
                        enum:
                          - QUEUED
                          - PENDING_WORKER
                          - PROCESSING
                          - ERRORED
                          - SUCCEEDED
                          - CANCELED
                      - type: 'null'
                  shortStatusText:
                    description: Brief description of the current training status
                    example: Training model with 15 audio files
                    anyOf:
                      - type: string
                      - type: 'null'
                  createdAt:
                    description: Timestamp when the training job was created
                    example: '2024-01-15T10:30:00Z'
                    type: string
                  updatedAt:
                    description: Timestamp when the training job was last updated
                    example: '2024-01-15T10:35:00Z'
                    type: string
                  startTime:
                    description: Timestamp when training started
                    example: '2024-01-15T10:31:00Z'
                    anyOf:
                      - type: string
                      - type: 'null'
                  endTime:
                    description: Timestamp when training completed
                    example: '2024-01-15T10:34:00Z'
                    anyOf:
                      - type: string
                      - type: 'null'
                  attempt:
                    description: Number of training attempts made
                    example: 1
                    type: number
                  initialQueuePosition:
                    description: Initial position in the training queue
                    example: 5
                    anyOf:
                      - type: number
                      - type: 'null'
                  isolateMainVocals:
                    description: Whether main vocal isolation was enabled
                    example: false
                    type: boolean
                  deEchoDeReverb:
                    description: Whether echo and reverb removal was enabled
                    example: false
                    type: boolean
                  rvcModelId:
                    description: ID of the associated RVC model
                    example: clm72xn4s11ttcctcr0dl9yfy
                    anyOf:
                      - type: string
                      - type: 'null'
                  rvcModel:
                    description: Associated RVC model information
                    example: null
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: Unique identifier for the RVC model
                            example: clm72xn4s11ttcctcr0dl9yfy
                            type: string
                          title:
                            description: Title of the RVC model
                            example: John Doe Voice Model
                            type: string
                        required:
                          - id
                          - title
                        additionalProperties: false
                      - type: 'null'
                  audioFiles:
                    description: Array of training audio files
                    example: []
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          description: Unique identifier for the audio file
                          example: clm72xn4s11ttcctcr0dl9yfy
                          type: string
                        url:
                          description: URL to the training audio file
                          example: https://storage.example.com/training/voice_sample1.wav
                          type: string
                        isPreStemmed:
                          description: Whether the audio file is pre-stemmed
                          example: false
                          type: boolean
                        createdAt:
                          description: Timestamp when the audio file was uploaded
                          example: '2024-01-15T10:30:00Z'
                          type: string
                      required:
                        - id
                        - url
                        - isPreStemmed
                        - createdAt
                      additionalProperties: false
                  queuePosition:
                    description: Current position in the training queue
                    example: 2
                    anyOf:
                      - type: number
                      - type: 'null'
                required:
                  - id
                  - name
                  - createdAt
                  - updatedAt
                  - attempt
                  - isolateMainVocals
                  - deEchoDeReverb
                  - audioFiles
                additionalProperties: false
        '400':
          description: Invalid input data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.BAD_REQUEST'
        '401':
          description: Authorization not provided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.UNAUTHORIZED'
        '403':
          description: Insufficient access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.FORBIDDEN'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error.INTERNAL_SERVER_ERROR'
      x-stainless-snippets:
        typescript: |-
          import Weights from '@weights-ai/sdk';

          const client = new Weights({
            bearerToken: 'My Bearer Token',
          });

          const training = await client.rvcModels.training.create({
            audioFiles: [{ url: 'https://storage.example.com/training/voice_sample1.wav' }],
            name: 'John Doe Voice Model',
          });

          console.log(training.id);
      x-readme:
        code-samples:
          - language: node
            code: |-
              import Weights from '@weights-ai/sdk';

              const client = new Weights({
                bearerToken: 'My Bearer Token',
              });

              const training = await client.rvcModels.training.create({
                audioFiles: [{ url: 'https://storage.example.com/training/voice_sample1.wav' }],
                name: 'John Doe Voice Model',
              });

              console.log(training.id);
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Weights from '@weights-ai/sdk';

            const client = new Weights({
              bearerToken: 'My Bearer Token',
            });

            const training = await client.rvcModels.training.create({
              audioFiles: [{ url: 'https://storage.example.com/training/voice_sample1.wav' }],
              name: 'John Doe Voice Model',
            });

            console.log(training.id);
  /rvc-models:
    get:
      operationId: external-getModels
      summary: Retrieve all RVC models and training jobs
      description: >-
        Retrieves all RVC models (both uploaded and training jobs) for the authenticated user, returned in
        descending order by creation date. Pagination is supported through a cursor-based approach. Optionally
        filter results by name search.
      tags:
        - RVCv2 Models
      security:
        - Authorization: []
      parameters:
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: limit
          schema:
            default: 25
            description: Number of items to return per page
            example: 25
            type: number
            minimum: 1
            maximum: 50
        - in: query
          name: cursor
          schema:
            anyOf:
              - description: >-
                  Cursor for pagination to get the next page of results - this is the last item's ID from the
                  previous page
                example: cmcz89fci00zr0dlt68klunpf
                type: string
              - type: 'null'
      responses:
        '200':
          description: Returns a paginated list of RVC models and training jobs for the authenticated user.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
[...]
